@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
  color: #ffffffc6;
  background-color: #161616;
}

input:focus, textarea:focus {
  outline: none;
  border: 0px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.084); /* optional glow */
}

::selection {
  background-color: rgba(255, 255, 255, 0.021);
}

button, li {
  min-height: 3rem;
  min-width: 200px;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 21px;
  background: linear-gradient(145deg, #2727279b, #2e2e2e1d);
  box-shadow:  4px 4px 6px #161616,
              -4px -4px 6px #303030;
}

button {
  /* color: rgba(127, 219, 250, 0.866); */
}

button:hover {
  border-radius: 21px;
  background: linear-gradient(145deg, #2727278d, #2020203d);
  box-shadow:  6px 6px 6px #161616,
              -6px -6px 6px #303030;
}

button:active, textarea, input {
  border-radius: 21px;
  background: #2b2b2b53;
  box-shadow: inset 6px 6px 6px #16161689,
              inset -6px -6px 6px #252525;
}
